@function my-calculation-function($some-number, $another-number){
  @return $some-number + $another-number
}


$authors: nick aimee dan drew;

@each $author in $authors {
  .author-#{$author} {
    background: url('../images/author-#{$author}.jpg');
    background-size: 200px, 200px;
    background-repeat: no-repeat;
  }
}

@each $author in $authors {

  .author-name-#{$author} {
    &:after {
      content: '#{$author}';
      text-transform: capitalize;
      color: $base-accent-color;
    }
   }
}

$violet: #fff;
$teal: teal;
$silver: silver;

$color-variables: $violet, $teal, $silver;

@each $color in $color-variables {
  .bg-#{$color} {
    background: $color;
  }
}
