---
title: Welcome to Middleman
---
<div class="module-test partial-test">
  <h1>Sass Functions</h1>
  <p>This function adds padding around the "Sass Functions" header.</p>
</div>

<div class="author-nick color-box">
  <h3>This function loops a string and an each statement.</h3>
  <p>The each statement appends the list item in the string to the background image file name.</p>
</div>
