---
title: Welcome to Middleman
---
<header class="top-of-page">
  <div class="module-test">
    <h1>Sass Functions</h1>
    <p>This function adds padding around the "Sass Functions" header.</p>
  </div>
</header>

<section>
  <aside class="author-nick picture"></aside>
  <article class="text-wrap">
    <h2 class="author-name-nick">High-five&nbsp;</h2>
    <h4>His name is being called in by a Sass function.</h4>
    <p>This function loops a string and an each statement. The each statement appends the list item in the string to the background image file name.</p>
  </article>


  <aside class="author-aimee picture"></aside>

  <article class="text-wrap">
    <h2 class="author-name-aimee">Yo,&nbsp;</h2>
    <h4>Her name is being called in by a Sass function.</h4>
    <p>This function loops a string and an each statement. The each statement appends the list item in the string to the background image file name.</p>
  </article>

  <aside class="author-dan picture"></aside>

  <article class="text-wrap">
    <h2 class="author-name-dan">Give a wave to&nbsp;</h2>

    <h4>His name is being called in by a Sass function.</h4>
    <p>This function loops a string and an each statement. The each statement appends the list item in the string to the background image file name.</p>
  </article>


  <aside class="author-drew picture"></aside>

  <article class="text-wrap">
    <h2 class="author-name-drew">What it is&nbsp;</h2>

    <h4>His name is being called in by a Sass function.</h4>
    <p>This function loops a string and an each statement. The each statement appends the list item in the string to the background image file name.</p>
  </article>

</section>
